@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext);
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #FF5D4A;
}

html, body {
  height: 100%;
  color: #ffffff;
}

.first_block {
  position: fixed;
  height: 100%;
  background: url(../img/bg.png) center no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.bg_gradient {
  position: relative;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(40.63%, rgba(0, 0, 0, 0.33)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.33) 40.63%, rgba(0, 0, 0, 0.9) 100%);
}

.content {
  position: relative;
  height: 100%;
}

.container {
  height: 100%;
  max-width: 1410px;
  margin: 0 auto;
  color: #ffffff;
}

@media (max-width: 1422px) {
  .container .container {
    max-width: 750px;
    font-size: 48px;
  }
  .container .welcome {
    font-size: 48px;
  }
  .container .start {
    font-size: 48px;
  }
}

@media (max-width: 991px) {
  .container .container {
    max-width: 970px;
    font-size: 32px;
  }
  .container .welcome {
    font-size: 32px;
  }
  .container .start {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .container .container {
    max-width: none;
    font-size: 24px;
    margin: 10px;
  }
  .container .welcome {
    font-size: 24px;
  }
  .container .start {
    font-size: 24px;
  }
}

.welcome {
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 122%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

a {
  text-decoration: none;
}

.btn {
  background-color: #BD232F;
  border-radius: 30px;
  display: inline-block;
  padding: 1.2% 3%;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 121.875%;
  color: white;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn:hover {
  background-color: #a71e2a;
}

.start {
  max-width: 666px;
  max-height: 300px;
  position: absolute;
  left: 50%;
  bottom: 7%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.UpHeart {
  position: absolute;
  right: 0;
  width: 13%;
}

.DownHeart {
  width: 20%;
  position: absolute;
  bottom: 0;
}
